body{
    background-attachment: fixed;
    margin: 0;
}
.navig{
    background-color: cornflowerblue;
    list-style-type: none;
    text-align:right;
    margin: 0;
    padding: 0;
    height: 100px;
    padding-right: 10px;
    box-shadow: 1px 1px 3px black;
}
  
.navig li{
    display: inline-block;
    font-size: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.navig li button{
    background-color: brown;
    width: 100px;
    height: 50px;
    color: black;
    font-size: 16px;
    font-family: monospace;
}

.start{
    width: 100%;
    height: 800px;
    background-color: burlywood;
    background-image: linear-gradient(burlywood, burlywood, white);
}

.stx{
    margin-left: 100px;
}

h1{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: aquamarine 1px 1px 3px;
    margin: 0;
    font-size: 50px;
}

h2{
    color: aqua;
    text-shadow: aquamarine 1px 1px 3px;
    margin: 10px;
    overflow: hidden;
    animation: type 6s;
    margin-top: 40px;
    font-size: 80px;
}

@keyframes type {
    from { width: 0 }
    to { width: 100% }
}

.naama{
    position: relative;
    overflow: hidden;
    display:inline-block;
    z-index: 1;
    display: flex;
    position: absolute;
    height: 800px;
    margin-left: 1184px;
}

.box{
    width: 800px;
    height: 450px;
    background-color: black;
    margin: 20px;
    top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    display:inline-block;
    z-index: 1;
}

.all{
    width: 1000px;
}

.haku{
    height: 100px;
    background-color: bisque;
    text-align: center;
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 20px;
}

.txtiedot{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    color: rgb(25, 90, 169);
}

.taidot{
    color: purple;
}

h3{
    color: black;
    font-size: 26px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dot::after{
    display: inline-block;
    animation: dotten 1.5s infinite;
    content: '';
}
  
@keyframes dotten{
    0%   { content: ''; }
    25%  { content: ' .'; }
    50%  { content: ' ..'; }
    75%  { content: ' ...'; }
    100% { content: ''; }
}