body{
    background-attachment: fixed;
    margin: 0;

}

.start{
    width: 100%;
    height: 800px;
    background-color: burlywood;
}

h1{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: aquamarine 1px 1px 3px;
    margin: 0;
}

h2{
    color: aqua;
    text-shadow: aquamarine 1px 1px 3px;
    margin: 10px;
    overflow: hidden;
    animation: type 6s;
}

@keyframes type {
    from { width: 0 }
    to { width: 100% }
}

.box{
    width: 800px;
    height: 450px;
    background-color: black;
    margin: 40;
    content: "";
    top: 10px;
    text-align: center;
    z-index: 1;
    display: inline-block;
    position: relative;
    overflow: hidden;
}